<div class="flex h-screen">
    <!-- Calendario -->
    <div class="w-1/2 bg-white">
      <div class="p-4">
        <h2 class="text-3xl text-yellow-500 font-bold mb-4">Calendario</h2>
        <div id="calendar"></div>
        <button class="bg-yellow-300 text-white rounded-full px-4 py-2 hover:bg-yellow-500 mt-4"
        routerLink="/dashboard">
          Regresar al Menú
        </button>
      </div>
    </div>
  
    <!-- Imagen -->
    <div class="w-1/2 bg-green-50 text-white flex items-center justify-center">
      <img src="../../../assets/img-icons/calen.png" alt="Imagen Calendario" class="h-3/4 w-auto max-w-full">
    </div>
  </div>
  