.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .header-cell {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .table tbody tr:last-child td {
    border-bottom: none;
  }
  