.detel {
    margin-right: 8%;
    margin-top: 5%;
  }
  
  .detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: revealText 1s linear forwards, slideRight 1s ease-in-out forwards;
    white-space: nowrap;
    overflow: hidden;
    transform: translateZ(0);
  }
  
  @keyframes revealText {
    from {
      width: 0;
    }
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  span {
    color: orange;
  }
  
  .images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 100px;
  }
  
  .images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
  }
  
  .images:hover .shape {
    bottom: 40px;
  }
  
  .images:hover .girl {
    left: 45%;
  }
  
  .social {
    margin-right: 8%;
    margin-top: 100px;
  }
  
  .social a {
    font-size: 38px;
    color: #212121;
    margin-right: 20px;
  }
  
  .social a:hover {
    color: orange;
  }
  
  .f-name {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 18ch;
    animation: typing 1s steps(20), blink .8s infinite step-end alternate;
    overflow: hidden;
  }
  .f-nameCourse {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 18ch;
    animation: typing 2s steps(20), blink .8s infinite step-end alternate;
    overflow: hidden;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  h1 {
    font-family: 'Edu NSW ACT Foundation', Ultra;
}
  