<nav class="mt-4">
    <ul class="space-y-2">
      <li>
        <a href="#" class="block p-4 hover:bg-yellow-100">Dashboard</a>
      </li>
      <li>
        <a href="#" class="block p-4 hover:bg-yellow-100">Clientes</a>
      </li>
      <li>
        <a href="#" class="block p-4 hover:bg-yellow-100">Ventas</a>
      </li>
      <li>
        <a href="#" class="block p-4 hover:bg-yellow-100">Productos</a>
      </li>
      <li>
        <a href="#" class="block p-4 hover:bg-yellow-100">Reportes</a>
      </li>
    </ul>
  </nav>